  <ion-view title="Login">
      <ion-header-bar class="bar-dark">
        <div class="h1 title">Login</div>
        <button class="button" ng-click="signupPage()">Signup</button>
      </ion-header-bar>

    <ion-content class="has-header">
      <div class="list list-inset">
       <label class="item item-input">
         <input type="text" ng-model="email" placeholder="Enter email address">
       </label>

       <label class="item item-input">
         <input type="password" ng-model="password" placeholder="Enter Password">
       </label>

       <button class="button button-block button-positive button-dark" ng-click="loginFunction(email,password)">Login</button>
     </div>
    </ion-content>

  </ion-view>