<ion-view title="User" ng-init="loginPage()">

  <ion-header-bar class="bar-dark">
    <div class="h1 title">Profile</div>
    <button class="button" ng-click="logoutFunction()">logout</button>
  </ion-header-bar>

    <ion-content>
        <div class="card list-inset" ng-repeat="person in user">
          <div class="item">
            <p><b>Name:</b> {{person.name}}</p>
          </div>
          <div class="item">
            <p><b>Gender:</b> {{person.gender}}</p>
          </div>
          <div class="item">
            <p><b>Email:</b> {{person.email}}</p>
          </div>
          <div class="item">  
            <p><b>Password:</b> {{person.password}}</p>
          </div>
        </div>
    </ion-content>
</ion-view>
