<ion-view title="User" ng-init="">

  <ion-header-bar class="bar-dark">
    <div class="h1 title">Profile</div>
  </ion-header-bar>

    <ion-content>
        <div class="list list-inset">
            <div class="item">
              Name
            </div>
            <div class="item">
              Email Address
            </div>
            <div class="item">
              Phone number
            </div>
            <div class="item">
              Region
            </div>
            <div class="item">
              Number of file uploaded
            </div>
        </div>
    </ion-content>
</ion-view>
