<ion-view title="Capture Evidence" clas="bg">
  
  <ion-header-bar class="bar-dark">
    <div class="h1 title">Capture Evidence</div>
    <button class="button button-clear icon-right ion-log-out" ng-click="logoutFunction()">logout</button>
  </ion-header-bar>
  <ion-content class="padding has-subheader">
    <div class="row">
      <div class="col col-50">
        <a href="#" class="button button-clear" ng-click="captureVideo()">
          <img width="70%" src="img/icons/video.png" >
        </a>
      </div> 
      <div class="col col-50">
        <a href="#" class="button button-clear" ng-click="captureImage()">
          <img width="70%" src="img/icons/camera.png" >
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col col-50">
        <a href="#" class="button button-clear" ng-click="captureAudio()">
            <img width="70%" src="img/icons/audio.png" >
        </a>
      </div> 
      <div class="col col-50">
        <a href="#" class="button button-clear" ng-click="checkConnection()">
          <img width="70%" src="img/icons/wifi.png" >
        </a>
      </div>
    </div>
  </ion-content>

<!--
  <ion-content class="padding has-subheader">
    <div class="row">
      <div class="col"></div>
      <div class="col">
       
       <a href="">
         <img width="100px" src="img/video.png" ng-click="captureVideo()">
       </a>

      </div>
      <div class="col"></div>
    </div>

    <div class="row">
      <div class="col">
        <a href="">
           <img width="100px" src="img/image.png" ng-click="captureImage()">
         </a>
      </div>
      <div class="col"></div>
      <div class="col">
        <a href="">
           <img width="100px" src="img/audio.png" ng-click="captureAudio()">
         </a>
      </div>
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <a href="">
           <img width="100px" src="img/wifi.png" ng-click="checkConnection()">
         </a>
      </div>
      <div class="col"></div>
    </div>
  </ion-content>
-->
</ion-view>