thead > tr > th.delete{
    background-color: red;
}

tbody > tr > td.delete{
    background-color: #F2F2F2;
    text-align: center;
    cursor: pointer;

}
tbody > tr > td img.delete-button{
    width:20px;
}

/* image table*/
table.imageTable{
  
    background-color: #fff;
}
tr.imageTr{
    float: left;
    padding: 0 0 10px 50px;
    margin: 0;
}
