<ion-view title="Capture Evidence">
  <ion-header-bar class="bar-assertive">
    <div class="h1 title">Capture</div>
    <button class="button button-icon icon ion-ios-person" ng-click="loginView()"></button>
  </ion-header-bar>

  <ion-content class="padding">
    <button class="button icon-left ion-ios-camera button-block button-energized" ng-click="uploadPicture()">
      Capture Image
    </button>
    <button class="button icon-left ion-videocamera button-block button-energized" ng-click="captureVideo()">
      Capture Video
    </button>
    <button class="button icon-left ion-ios-mic button-block button-energized" ng-click="captureAudio()">
      Record Audio
    </button>
  </ion-content>

</ion-view>