<ion-view>
	<ion-header-bar class="bar-assertive ">
		<h1 class="title">Authentication</h1>
	</ion-header-bar>
	<ion-content>
		<div class="card padding list-inset" >
			<label class="item item-input">
				<input type="text" placeholder="Username">
			</label>
			<label class="item item-input">
				<input type="password" placeholder="Password">
			</label>
		    <a class="button button-assertive button-block icon-right ion-checkmark" ng-click="login(username, password)">Login</a>
			<a class="button button-stable button-block icon-right ion-help" href="#/tab/register">Register</a>
		</div>
	</ion-content>
</ion-view>