<!-- start tabs -->
<ion-tabs class="tabs-dark tabs-icon-top">
  <ion-tab href="#/tabs/capture" title="Capture" icon-on="ion-ios-eye" icon-off="ion-ios-eye-outline">
    <ion-nav-view name="tabs-capture"></ion-nav-view>
  </ion-tab>

  <ion-tab href="#/tabs/view" title="View PDE"  icon-on="ion-ios-cloud-download" icon-off="ion-ios-cloud-download-outline">
    <ion-nav-view name="tabs-view"></ion-nav-view>
  </ion-tab>

   <ion-tab href="#/tabs/login" title="Login" icon-on="ion-ios-person" icon-off="ion-ios-person-outline">
    <ion-nav-view name="tabs-login"></ion-nav-view>
  </ion-tab> 

  </ion-tab>
</ion-tabs>
<!-- end tabs -->

